.text-field{
    width: 100%;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-field > input{
    font-family: sans-serif;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(61, 65, 88);
    border: none;
    outline: none;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
}

.text-field > input::placeholder{
    font-family: sans-serif;
    color: white;
    font-size: 12pt;
    font-weight: 200;
}

.extra-light{
    font-weight: 200;
}